.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    max-width: 240px;
    margin: 0 16px 8px 16px;
}

.counter {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

.priceSection {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 8px;
}

.currency {
    width: 22px;
    height: 22px;
}

.name {
    min-height: 48px ;
}