.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.image {
    max-width: 240px;
    margin: 0 16px 8px 16px;
}

.counter {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

.priceSection {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 8px;
}

.name {
    min-height: 48px;
}