.menu {
    position: relative;
    margin: 40px 0 0 0;
}

.list {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    margin: 40px 0 0 0;
    padding: 16px 0;
}

.group {
    display: flex;
    align-items: center;
    gap: 48px;
    margin: 0;
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0;
    cursor: pointer;
}

.item:hover {
    opacity: 0.8;
}

.logo {
    position: absolute;
    top: 19px;
    left: calc(50% - 145px);
}

.title {
    margin: 0;
}